{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.profile }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block main %}
{% if profile_user == request.user %}
<div class="pull-right">
    <a class="btn btn-large btn-primary btn-profile" href="{% url "profile_update" %}">Update profile</a>
</div>
{% endif %}
<div class="clearfix">

    {% with profile_user.profile as profile %}
    {% if profile.bio %}
    <p class="bio">{{ profile.bio|urlize|linebreaks }}</p>
    {% endif %}
    {% if profile.website %}
    <p class="bio">Website: {{ profile.website|urlize }}</p>
    {% endif %}
    {% endwith %}

    <a href="{% url "comment_list_user" profile_user.username %}">comments ({{ profile_user.comment_comments.count }})</a> |
    <a href="{% url "link_list_user" profile_user.username %}">courses ({{ profile_user.links.published.count }})</a>

</div>
{% endblock %}
