{% extends "base.html" %}

{% load mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}
<a href="{{ object.link }}">{{ object.title }}</a>
<span class="domain">({{ object.domain }})</span>
{% endblock %}

{% block main %}
<div class="link-view">
    <table>
        <tr>
            <td><b>Course Name:</b></td>
            <td><p class="description">{{ object.title }}<p></td>
			<td>
				<img src="{{ STATIC_URL }}img/facebook_icon.png" width="20" height="20">
			</td>
            <td>{% load social_share %}
                &nbsp;{% post_to_facebook "" "Share" %}
            </td>
            <td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
				<img src="{{ STATIC_URL }}img/twitter_icon.png" width="20" height="20">
            </td>
            <td>
                &nbsp;{% post_to_twitter "Check out this course! {{object.title}}" "" "Share" %}
            </td>
        </tr>
        <tr>
            <td><b>University Name:</b></td>
            <td><p class="description">{{ object.UniversityName }}</p></td>
        </tr>
        <tr>
            <td><b>Course Year:</b></td>
            <td><p class="description">{{ object.CourseYear }}</p></td>
        </tr>
        <tr>
            <td><b>Course Code:</b></td>
            <td><p class="description">{{ object.CourseCode }}</p></td>
        </tr>
        <tr>
            <td><b>Lecturer Name:</b></td>
            <td><p class="description">{{ object.LecturerName }}</p></td>
        </tr>
        <tr>
            <td><b>Course Link:</b></td>
            <td><p class="description">{{ object.link }}</p></td>
        </tr>
        <tr>
            <td><b>Course Description:</b></td>
            <td><p class="description">{{ object.description }}</p></td>
        </tr>
    </table>

    <div class="link-meta">
        {% rating_for object %}
        by <a href="{% url "profile" object.user.username %}">{{ object.user.profile }}</a>
        {{ object.publish_date|short_timesince }} ago
    </div>
    {% order_comments_by_score_for object %}
    {% comments_for object %}
</div>
{% endblock %}
