{% extends "base.html" %}
{% block main %}
    <div class="link-view">
								<form method="post" action="/search/">
                                {%  csrf_token %}
                                <table border = "1" cellpadding="10" cellspacing="0">
                                    <tr>
                                        <td>
                                            <h2>Course Name</h2>
                                        </td>
                                        <td>
                                            <h2>University Name</h2>
                                        </td>
                                        <td>
                                            <h2>Course Code</h2>
                                        </td>
                                        <td>
                                            <h2>Course Year</h2>
                                        </td>
                                        <td>
                                            <h2>Lecturer Name</h2>
                                        </td>
                                        <td>
                                            <h2>Course Url</h2>
                                        </td>
                                        <td>
                                            <h2>Course Description</h2>
                                        </td>
                                        <td>
                                            <h2>Rating</h2>
                                        </td>
                                        <td>
                                            <h2>Comments Count</h2>
                                        </td>
                                    </tr>
                                    {% for l in keyword %}
                                    <tr>
                                        <td>
                                            <a href = "/course/{{ l.slug }}">{{ l.title }}</a>
                                        </td>
                                        <td>
                                            <p>{{ l.UniversityName }}</p>
                                        </td>
                                        <td>
                                            <p>{{ l.CourseCode }}</p>
                                        </td>
                                        <td>
                                            <p>{{ l.CourseYear }}</p>
                                        </td>
                                        <td>
                                            <p>{{ l.LecturerName }}</p>
                                        </td>
                                        <td>
                                            <a href = "{{ l.link }}">{{ l.link }}</a>
                                        </td>
                                        <td>
                                            <p>{{ l.description }}</p>
                                        </td>
                                        <td>
                                            <p>{{ l.rating_sum }}</p>
                                        </td>
                                        <td>
                                            <p>{{ l.comments_count }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <br>
                                <br>
								</form>
    </div>
{% endblock %}