{% extends "base.html" %}

{% block meta_title %}New University Course{% endblock %}
{% block title %}New University Course{% endblock %}

{% load mezzanine_tags %}

{% block main %}
<form method="post">
<fieldset>{% fields_for form %}</fieldset>
<div class="actions">
    <input class="btn btn-warning btn-large" type="submit" value="Submit New Course">
</div>

</form>
{% endblock %}
