{% load mezzanine_tags i18n future %}
<form action="/search/" method="post" class="navbar-search pull-right input-append">
<p>{%  csrf_token %}</p>
<input class="search-query" placeholder="{% trans "Search" %}" type="text" name="keyword" id="keyword">
<input id="test" type="submit" value="Search" />
</form>
